/* General elements */
$total-width: 400px;
$total-height: 500px;

$exit-width: 20px;
$send-width: 50px;

* {
    font-family: 'Raleway', sans-serif;
    background: inherit;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;

    &, #root {
        width: $total-width;
        height: $total-height;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

div {
    border: 1px solid black;
    vertical-align: top;
}

textarea {
    width: 100%;
    resize: none;
}

.center {
    text-align: center;
}

.ib {
    display: inline-block;
     &.ib-2 {
        width: 16.666666%
    }
    &.ib-3 {
       width: 25%
   }
    &.ib-4 {
        width: 33.333333%
    }
    &.ib-6 {
        width: 50%
    }
    &.ib-8 {
        width: 66.666666%
    }
    &.ib-9 {
        width: 75%
    }
}


/* Menu */
.entry {
    padding: 5px;
}

.compose {
    position: fixed;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    top: $total-height - 50px;
    left: 340px;
    text-align: center;
}

/* Chat */
.chatHeader {
    .msgDest {
        width: $total-width - $exit-width;
    }

    .exit {
        float: right;
        width: $exit-width;
    }
}
.messages {
    height: 85%;
}

.chatFooter {
    position: fixed;
    top: $total-height - 40px;
    height: 40px;
    width: $total-width;

    .newMessage {
        height: inherit;
        width: $total-width - $send-width - 5px;
    }
    .sendMessage{
        height: inherit;
        width: $send-width;
    }
}
